In [ ]:
##################### PANDA SERIES ##########################3

In [16]:
#series- are pandas data structure built on top of numpy arrays
#seriouse must be 1 dimentional
# setouse key properties
#values,index,name,dtype
#astype used to convert to different data type
import numpy as np
import pandas as pd
oil_data_array = np.array([52.22,45.6,70.9,35.6,23.9])
print(oil_data_array)
oil_data = pd.Series(oil_data_array, name="oil_prices")
print(oil_data.name)
print(oil_data.dtype)
print(oil_data.values)
print(oil_data.index)
print(oil_data.mean)
print(oil_data.shape)
print(oil_data.astype("string"))

[52.22 45.6  70.9  35.6  23.9 ]
oil_prices
float64
[52.22 45.6  70.9  35.6  23.9 ]
RangeIndex(start=0, stop=5, step=1)
<bound method NDFrame._add_numeric_operations.<locals>.mean of 0    52.22
1    45.60
2    70.90
3    35.60
4    23.90
Name: oil_prices, dtype: float64>
(5,)
0    52.22
1     45.6
2     70.9
3     35.6
4     23.9
Name: oil_prices, dtype: string

In [20]:
#custom indices
sales=[0,5,155,0,518]
items=["coffee","banana","tea","coconut","sugar"]
sales_series = pd.Series(sales, index=items,name = "sales"
                        )
print(sales_series)
print(sales_series["banana":"coconut"]) #slicing with custom values make it inclusive

coffee       0
banana       5
tea        155
coconut      0
sugar      518
Name: sales, dtype: int64
banana       5
tea        155
coconut      0
Name: sales, dtype: int64

In [40]:
#iloc=>used to access values by their positional index.its same as indexing and slicing
#df.iloc[row position,column position]
#loc-used to access values by their custom labels
#df.loc[row label,column label]
my_series = pd.Series([0,1,2,3,4],index=["day0","day1","day2","day3","day4"])
print(my_series.iloc[1])
print(my_series.iloc[1:5])
print(my_series.loc["day1"])
print(my_series.loc["day1":"day3"])
my_series.index = [0,2,3,4,100]
print(my_series)
my_series.reset_index(drop=True)

1
day1    1
day2    2
day3    3
day4    4
dtype: int64
1
day1    1
day2    2
day3    3
dtype: int64
0      0
2      1
3      2
4      3
100    4
dtype: int64

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [64]:
#add index as date to oil_data
#take mean of first 2 and last 2 price
#take prices from date 2017-15 to 2016-11
#revert index back to integer
oil_data_array = pd.Series([52.22,45.6,70.9,35.6,23.9])
print(oil_data)
oil_data.index=["2016-12","2017-15","2017-10","2016-11","2017-30"]
print(oil_data)
first_two=oil_data.iloc[0:2].mean()
last_two = oil_data.iloc[-2:].mean()
print(first_two)
print(last_two)
print(oil_data["2017-15":"2016-11"])
print(oil_data.reset_index(drop=True))

2016-12    52.22
2017-15    45.60
2017-10    70.90
2016-11    35.60
2017-30    23.90
dtype: float64
2016-12    52.22
2017-15    45.60
2017-10    70.90
2016-11    35.60
2017-30    23.90
dtype: float64
48.91
29.75
2017-15    45.6
2017-10    70.9
2016-11    35.6
dtype: float64
0    52.22
1    45.60
2    70.90
3    35.60
4    23.90
dtype: float64

In [65]:
#####sorting and filtering
#filtering is done by using loc method and using conditions
#sorting => sort_values,sort_index(scending=False)

#get lowest price and sorted by date in decending  order
#filter price<=50
oil_data_array = pd.Series([52.22,45.6,70.9,35.6,23.9])
oil_data.index=["2016-12","2017-15","2017-10","2016-11","2017-30"]
print(oil_data_array.sort_values().iloc[:4].sort_index(ascending=False))
print(oil_data.min())
con =oil_data_array.values <= 50 #or oil_data_array.values.le(50)
print(oil_data_array.iloc[con])

4    23.90
3    35.60
1    45.60
0    52.22
dtype: float64
23.9
1    45.6
3    35.6
4    23.9
dtype: float64

In [ ]:
#string methods- accesed using str accessor
1. strip(),lstrip(),rstrip()
2.upper(),lower()
3.slice(start,stop,step)
4.count("string")
5.contains("string")
6.replace("a","b")
7.split("delimiter", expand=True)
8.len()
9. startswith("string"), endswith("string")
10.str[start:end:step] =>strinh indexing

In [86]:
#series operation
# increase oil price by 10 % and add 2 dollers in it
#create a series which represent percentage difference between original pice and max price
# extract the month from string date in the index and store them s integer

oil_data = pd.Series([52.22,45.6,70.9,35.6,23.9])
oil_data.index=["2016-12","2017-15","2017-10","2016-11","2017-30"]
#print(oil_data)
latest_oil_data=oil_data*1.1+2
#print(latest_oil_data)
max_price = latest_oil_data.max()
#print((latest_oil_data-max_price)/max_price)
print(latest_oil_data.index.str[5:].astype(int)) #str[start:end] string indexing

Index([12, 15, 10, 11, 30], dtype='int32')

In [ ]:
#series aggregation methods
1.count()
2.first(),last()
3.mean(),median()
4.min(),max()
5.argmax(),argmin() =>return index of min and max
6.std(),var()=>standard deviation and variance
7.mad()=> mean absolute deviation
8.prod() =>product of items
9.sum()
10.quantile()=>percentiles
#categorial series aggregation
1. unique()=>reatuen an array of unique items
2.nunique()=>return the number of unique items
3.value_counts()=> return series of uniques items and their frequency

In [141]:
##series aggregation
#calculate sum,mean of month march
#calculate how many prices have in month of december
#calculate 10th and 90th percentiles of all data
#how often did integer value occure in data
import pandas as pd
oil_data = pd.Series([52.22,45.6,70.9,35.6,23.9])
oil_data.index=["2016-12","2017-5","2017-10","2016-5","2017-30"]
oil_data.index=oil_data.index.str[5:]
#print(oil_data.loc[5]) or oil_data[5]
#print(oil_data.loc[5].mean())
#print(oil_data.loc[5].sum())
new=oil_data.index.isin(["10"])
#print(oil_data.loc[new].count())
#print(oil_data.quantile([0.1,0.9]))
print(oil_data.astype(int).value_counts(normalize=True))

52    0.2
45    0.2
70    0.2
35    0.2
23    0.2
Name: proportion, dtype: float64

In [20]:
###Missing value(np.NaN,pd.NA)
#isna()
#dropna(),fillna(value)=>to handle na

#some erroneous prices in data so filled in with missing values
#calculate number of missing values
#fill the prices in with median of oil price series
import pandas as pd
import numpy as np
oil_data = pd.Series([51.44,47.8,70.9,35.6,23.9])
oil_data= oil_data.where(~oil_data.isin([51.44,47.8]),np.NaN)
print(oil_data.isna().sum()) #or print(oil_data.value_counts(dropna=False))
print(oil_data.fillna(oil_data.median()))

2
0    35.6
1    35.6
2    70.9
3    35.6
4    23.9
dtype: float64

In [37]:
##apply custom function
#apply=> lets u apply custom functions to pandas series.
#where function=>numpy and pandas where function have little difference
#numpy where syntax=> .where(condion,value if true,value if false)
#pandas where syntax=>.where(condion,value if false,inplace=False)
#EX-
import pandas as pd
import numpy as np
array = pd.Series(range(11))
#solve with numpy where
np_where=np.where(array%2==0,"even","odd")
print(np_where)
pd_where=array.where(array%2==0,"odd").where(~array%2==0,"even")
print(pd_where)

['even' 'odd' 'even' 'odd' 'even' 'odd' 'even' 'odd' 'even' 'odd' 'even']
0     even
1      odd
2     even
3      odd
4     even
5      odd
6     even
7      odd
8     even
9      odd
10    even
dtype: object

In [24]:
###apply and where
#
import pandas as pd
oil_data = pd.Series([51.44,47.8,70.9,35.6,0.8])
def buy_bool(price,limit):
    if price<limit:
        return "buy"
    return "wait"
oil_data.apply(buy_bool,args=(oil_data.quantile(.9),))
#or oil_data.apply(labda x: "buy" if x<oil_series.quantiles(0.9) else "wait") )

0     buy
1     buy
2    wait
3     buy
4     buy
dtype: object

In [ ]:
#####key takeaways
1. pandas series add an index and title to numpy array
2. use loc and iloc method
3.pandas and numpy have similar operation for filtering,sorting,aggregating
4.pandas let u easily handle missing data
5.

In [ ]:
########################### Data Frames #######################

In [51]:
## DataFrame Basics
# shape,index,columns,axes,dtypes
#1.read data from transcation.csv file
#2.how many rows are in data,which columns are in data and their datatypes
import pandas as pd
transcation_data = pd.read_csv("demo/Pandas Course Resources/retail/transactions.csv")
#print(transcation_data)
print(transcation_data.shape[0])
print(transcation_data.columns)
print(transcation_data.dtypes)

83488
Index(['date', 'store_nbr', 'transactions'], dtype='object')
date            object
store_nbr        int64
transactions     int64
dtype: object

In [68]:
# head(nrow),tail(nrow),saple(nrow),info(),describe(include)
#1. print first 5 rows of transactions data
#2.check is there any missing values
#3.check unique dates
#4.calculate mean,median,min,max of transaction
transaction_data = pd.read_csv("demo/Pandas Course Resources/retail/transactions.csv")
print(transaction_data.head(5)) #1
print(transaction_data.info()) #2 total rows and non-null count is same(83488) so no null values
print(transaction_data.describe())
print(transaction_data["transactions"].mean()) #4
print(transaction_data["transactions"].median())
print(transaction_data["transactions"].min())
print(transaction_data["transactions"].max())

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83488 entries, 0 to 83487
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          83488 non-null  object
 1   store_nbr     83488 non-null  int64
 2   transactions  83488 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.9+ MB
None
          store_nbr  transactions
count  83488.000000  83488.000000
mean      26.939237   1694.602158
std       15.608204    963.286644
min        1.000000      5.000000
25%       13.000000   1046.000000
50%       27.000000   1393.000000
75%       40.000000   2079.000000
max       54.000000   8359.000000
1694.6021583940208
1393.0
5
8359

In [92]:
## accessing data frames
#1.exclude date column
#2. calculate unique store_nbr
#3total number of transactions
transaction_data = pd.read_csv("demo/Pandas Course Resources/retail/transactions.csv")
#print(transaction_data.head())
modified_df=transaction_data.loc[:,["store_nbr","transactions"]]
print(modified_df) #1
print(transaction_data["store_nbr"].nunique()) #2
print(transaction_data["transactions"].sum()) #3

       store_nbr  transactions
0             25           770
1              1          2111
2              2          2358
3              3          3487
4              4          1922
...          ...           ...
83483         50          2804
83484         51          1573
83485         52          2255
83486         53           932
83487         54           802

[83488 rows x 2 columns]
54
141478945

In [117]:
### Droping data=> drop()
#duplicates=>duplicated(), drop_duplicates()
#1.drop 1st row permanantly
#2.drop date colum but not in place
#3 keep only last transactions of every date in dataframe
transaction_data = pd.read_csv("demo/Pandas Course Resources/retail/transactions.csv")
transaction_data.drop(0,axis=0,inplace=True) #1
#print(transaction_data)
#print(transaction_data.drop("date",axis=1)) #2
print(transaction_data.drop_duplicates(subset="store_nbr",keep="last").head())

             date  store_nbr  transactions
83434  2017-08-15          1          1693
83435  2017-08-15          2          1737
83436  2017-08-15          3          2956
83437  2017-08-15          4          1283
83438  2017-08-15          5          1310

In [149]:
### Missing data
# we can count missing values using .isna() and .sum()
# or else .info() method
#dropna(),fillna()

#1.count missing values of dates or price
#2. fill the Nan price value with 0 and fill nan value with mean value
oil_data = pd.read_csv("demo/Pandas Course Resources/retail/oil.csv")
#print(oil_data)
print(oil_data["date"].isna().sum()) #1
# or print(oil_data.info()) #1
print(oil_data["dcoilwtico"].isna().sum()) #1
oil_data["dcoilwtico"].fillna(0).mean() #2
print(oil_data["dcoilwtico"].fillna(oil_data["dcoilwtico"].fillna(0).mean())) #2

0
43
0       65.323793
1       93.140000
2       92.970000
3       93.120000
4       93.200000
          ...
1213    47.650000
1214    46.400000
1215    46.460000
1216    45.960000
1217    47.260000
Name: dcoilwtico, Length: 1218, dtype: float64

In [190]:
##Filtering
#we can filter by passing condition in loc method
#.query()=>we can use query like structure to filter data(by using and or)

#1.calculate the % of times all store had more than 2000 transaction
transaction_data = pd.read_csv("demo/Pandas Course Resources/retail/transactions.csv")
#print(transaction_data) 
print((transaction_data["transactions"]> 2000).mean()) #1
conn = (transaction_data["store_nbr"] == 25) & (transaction_data["transactions"]> 2000)
print(transaction_data.loc[conn,"transactions"].sum())

0.26680481027213493
144903

In [14]:
### sorting dataFrame=>sort_index(),sort_values()
#1. get dataset includes the 5 days with the highest transactions count
#2.get sorted dataset by date in ascending order but with highest transaction first
#sort columns in reverse order
import pandas as pd
transaction_data = pd.read_csv("demo/Pandas Course Resources/retail/transactions.csv")
print(transaction_data.sort_values("transactions",ascending = False).iloc[:5])  #1
print(transaction_data.sort_values(["date","transactions"],ascending =[True,False]))
print(transaction_data.sort_index(axis=1))

             date  store_nbr  transactions
52011  2015-12-23         44          8359
71010  2016-12-23         44          8307
16570  2013-12-23         44          8256
33700  2014-12-23         44          8120
16572  2013-12-23         46          8001
             date  store_nbr  transactions
0      2013-01-01         25           770
40     2013-01-02         46          4886
38     2013-01-02         44          4821
39     2013-01-02         45          4208
41     2013-01-02         47          4161
...           ...        ...           ...
83455  2017-08-15         22           766
83449  2017-08-15         16           742
83465  2017-08-15         32           615
83468  2017-08-15         35           612
83459  2017-08-15         26           534

[83488 rows x 3 columns]
             date  store_nbr  transactions
0      2013-01-01         25           770
1      2013-01-02          1          2111
2      2013-01-02          2          2358
3      2013-01-02          3          3487
4      2013-01-02          4          1922
...           ...        ...           ...
83483  2017-08-15         50          2804
83484  2017-08-15         51          1573
83485  2017-08-15         52          2255
83486  2017-08-15         53           932
83487  2017-08-15         54           802

[83488 rows x 3 columns]

In [26]:
#Rename and reorder columns
#1. rename transactions to transaction_count and store_nbr to store_number
transaction_data = pd.read_csv("demo/Pandas Course Resources/retail/transactions.csv")
#print(transaction_data)
transaction_data.rename(columns={"store_nbr":"store_number","transaction":"transaction_count"})
#or transaction_data.columns=["date","store_number","transaction_count"]
print(transaction_data)

             date  store_nbr  transactions
0      2013-01-01         25           770
1      2013-01-02          1          2111
2      2013-01-02          2          2358
3      2013-01-02          3          3487
4      2013-01-02          4          1922
...           ...        ...           ...
83483  2017-08-15         50          2804
83484  2017-08-15         51          1573
83485  2017-08-15         52          2255
83486  2017-08-15         53           932
83487  2017-08-15         54           802

[83488 rows x 3 columns]

In [29]:
## Arithmetic and boolean column creation
#1.create "pct_to_target" that devides transaction by 2500-our transaction target for all stores.
#2.create "met_target" column that is true id "pc_to_target" >=1
#3. craete "bonus_payable" is equal to 100 if "met_target" is True and o if not.then sum the total "bonus_payable_amounr"
#4.create columns for month and day of week as integers.
transaction_data = pd.read_csv("demo/Pandas Course Resources/retail/transactions.csv")
#print(transaction_data)
transaction_data["pct_to_target"] =transaction_data["transactions"]/2500
transaction_data["met_target"]

             date  store_nbr  transactions  pct_to_target
0      2013-01-01         25           770         0.3080
1      2013-01-02          1          2111         0.8444
2      2013-01-02          2          2358         0.9432
3      2013-01-02          3          3487         1.3948
4      2013-01-02          4          1922         0.7688
...           ...        ...           ...            ...
83483  2017-08-15         50          2804         1.1216
83484  2017-08-15         51          1573         0.6292
83485  2017-08-15         52          2255         0.9020
83486  2017-08-15         53           932         0.3728
83487  2017-08-15         54           802         0.3208

[83488 rows x 4 columns]